﻿@model XDS.ONLINE.MODELS.SystemUserSystemUser

@{
    ViewBag.Title = "User Profile";
}

<div id="searchsection">
    <div id="searchinput">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchform" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>User Profile</legend>
               <div class="col-md-6">
                     <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly="readonly"  })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", maxlength = 35, placeholder = "Enter First Name", @type = "alphabet" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                     <div class="form-group">
                        @Html.LabelFor(model => model.Surname, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", maxlength = 35, placeholder = "Enter Surname", @type = "alphabet"})
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>

                   <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @readonly="readonly" }  )
                    </div>
                   
                     <div class="form-group">
                        @Html.LabelFor(model => model.SystemUserRole, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.SystemUserRole, new { @class = "form-control", @readonly="readonly" })
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.ActiveYN, new { @class = "control-label" })
                        <div>
                            @Html.CheckBoxFor(model => model.ActiveYN, new { @class = "form-control", style="width:11px; enabled:false", @readonly="readonly", disabled="disabled" })
                        </div>
                    </div>*@

                       
                </div>
                  <div class="col-md-12">
                    @*<button type="button" class="btn btn-primary" id="searchbutton">Search</button>*@
                    <input type="submit" id="savebutton" class="btn btn-primary" value="Save" />
                    <input type="button" id="clearbutton" class="btn btn-primary" value="Clear" />
                      <br />
                       @if (Model.Result != "" && Model.Result != null)
                        {
                            <div style="padding-top: 10px;">@Model.Result.ToString()</div> 
                        }
                </div>
            </fieldset>
        }
       
    </div>

   
        
    <div id="ConsumerResults">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            BonusXmlUrl = '';
            ReportUrl = '@Url.Action("ChangePassword", "ChangePassword")';
            FraudCurrentScreen = '';
            InitializeReportSearchWithBonus();
        });
    </script>

    @Scripts.Render("~/bundles/datepicker")

}

