﻿@model XDS.ONLINE.MODELS.ChangePasswordViewModel


@using (Html.BeginForm("ChangePasswordPartial", "ChangePassword", FormMethod.Post, new { id = "changepasswordform", onkeydown = "return event.keyCode!=13" }))
{
   @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Change Password</legend>
               <div class="col-md-6">
                     <div class="form-group">
                        @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.CurrentPassword, new { @class = "form-control", placeholder = "Current Password", maxlength = 13, @type = "password" })
                        @Html.ValidationMessageFor(model => model.CurrentPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Enter New Password", maxlength = 30, @type = "password" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                     <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @type = "password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                       
                </div>

            </fieldset>
    
    
    <div id="ConsumerResults">
    </div>
}
