﻿@model XDS.ONLINE.MODELS.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<div id="searchsection">
    <div id="searchinput">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchform" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Change Password</legend>
               <div class="col-md-6">
                     <div class="form-group">
                        @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.CurrentPassword, new { @class = "form-control", placeholder = "Current Password", maxlength = 13, @type = "password" })
                        @Html.ValidationMessageFor(model => model.CurrentPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Enter New Password", maxlength = 30, @type = "password" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                     <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @type = "password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                       
                </div>
                  <div class="col-md-12">
                    @*<button type="button" class="btn btn-primary" id="searchbutton">Search</button>*@
                    <input type="submit" id="savebutton" class="btn btn-primary" value="Save" />
                    <input type="button" id="clearbutton" class="btn btn-primary" value="Clear" />
                      <br />
                       @if (Model.Result != "" && Model.Result != null)
                        {
                            <div style="padding-top: 10px;">@Model.Result.ToString()</div> 
                        }
                </div>
            </fieldset>
        }
       
    </div>

   
        
    <div id="ConsumerResults">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            BonusXmlUrl = '';
            FraudCurrentScreen = '';
            ReportUrl = '@Url.Action("ChangePassword", "ChangePassword")';
            InitializeReportSearchWithBonus();
        });
    </script>

    @Scripts.Render("~/bundles/datepicker")

}

