﻿@model XDS.ONLINE.MODELS.ListofBulletins

@{
    ViewBag.Title = "Bulletins";
}

<div>


    @if (Model != null && Model.BulletinList.Count() > 0)
    {
        <ul class="list-group">
            @foreach (var item in Model.BulletinList)
            {
                <li class="list-group-item">
                    <h5>
                        @Html.DisplayFor(modelitem => item.DocName) - Uploaded on
                        <em><strong>@(XDS.ONLINE.MODELS.General.DisplayDate(@item.CreatedOnDate))</strong></em>
                        <em class="pull-right"><button class="btn btn-primary" onclick="DownloadBulletin(@item.BulletinID)">Download Bulletin</button></em>
                    </h5>
                </li>
            }
        </ul>
    }
    else
    {
        <table class="table table-striped"> 
            <tbody>
                <tr>
                    <td>
                        No Bulletin Available
                    </td>
                </tr>
            </tbody>
        </table>
    }


</div>


<div id="reportsection">
    <div id="reportnav">
        @using (Html.BeginForm("DownloadBulletin", "Bulletin", FormMethod.Post, new { id = "reportform" }))
        {
        @Html.AntiForgeryToken()
        @Html.Hidden("BulletinID", "")

        @Html.Hidden("ConsumerID", "")
        @Html.Hidden("EnquiryID", "")
        @Html.Hidden("EnquiryResultID", "")
        @Html.Hidden("Format", "")
        @Html.Hidden("ProductID", (string)ViewBag.ProductID)
        }
    </div>
    <div id="reportdetail"></div>
</div>