﻿@model XDS.ONLINE.MODELS.ListofHistory


<style>
    .my-navigation a {
        width: 2rem !important;
        padding: 1rem !important;
    }

    .my-navigation:after {
        content: "";
        display: table;
        clear: both;
    }

    .my-navigation div {
        float: left;
    }

        .my-navigation div + div {
            margin-left: .5rem;
        }



    a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"] {
        margin-right: 0;
    }

    a[class*="simple-pagination-navigation-disabled"] {
        color: black;
        cursor: default;
    }
</style>
<div id="second-container">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Ref#</th>
                <th>Dealer ID</th>
                @*<th>Promotion Deal</th>*@
                <th>Promo Code</th>
                <th>Surname</th>
                <th>First Name</th>
                <th>ID No</th>
                <th>Date of Birth</th>
                <th>Income</th>
                <th>Cellular No</th>
                <th>Alternate No</th>
                <th>Email</th>
                <th>Decision</th>
                <th>Portfolio</th>
                <th>Application Date</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SearchHistory)
            {
                <tr class="clickableRow" enquiryid="@item.EnquiryID">
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferenceNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DealerID)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.PromotionDeal)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDNo)
                    </td>
                    <td>
                        @XDS.ONLINE.MODELS.General.DisplayDate(item.BirthDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Income)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CellularNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OtherNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Decision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Portfolio)
                    </td>
                    <td>
                        @XDS.ONLINE.MODELS.General.DisplayDateWithTime(item.CreatedOnDate)
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-search"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="my-navigation">
        <div class="simple-pagination-first" style="display: inline"></div>
        <div class="simple-pagination-previous" style="display: inline"></div>
        <div class="simple-pagination-page-numbers" style="display: inline"></div>
        <div class="simple-pagination-next" style="display: inline"></div>
        <div class="simple-pagination-last" style="display: inline"></div>
    </div>
</div>


<script type="text/javascript">
    $('#second-container').simplePagination({
        items_per_page: 10,
        number_of_visible_page_numbers: 10
    });
</script>
