﻿@model XDS.ONLINE.MODELS.HistoryMatchViewModel

@{
    ViewBag.Title = "Application History";
}

<div id="searchsection">
    <div id="searchinput">
        @using (Html.BeginForm("HistoryModelSearch", "History", FormMethod.Post, new { id = "searchform" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend></legend>
                <form class="form-inline">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IDNo, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.IDNo, new { @class = "form-control", placeholder = "Enter ID Number", id = "IDNo" })
                            @Html.ValidationMessageFor(model => model.IDNo)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReferenceNo, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.ReferenceNo, new { @class = "form-control", placeholder = "Enter Reference Number", id = "ReferenceNo" })
                            @Html.ValidationMessageFor(model => model.ReferenceNo)
                        </div> 
                        <div class="form-group">
                            @Html.LabelFor(model => model.StatusList, new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.StatusValue, new SelectList(Model.StatusList, "", ""), string.Empty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StatusList)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", placeholder = "yyyy/mm/dd", id = "StartDate" })
                            @Html.ValidationMessageFor(model => model.StartDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", placeholder = "yyyy/mm/dd", id = "EndDate" })
                            @Html.ValidationMessageFor(model => model.EndDate)
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <input type="submit" id="searchbutton" class="btn btn-primary" value="Submit" />
                        <input type="button" id="clearbutton" class="btn btn-primary" value="Clear" />
                    </div>
                </form>
            </fieldset>
        }
    </div>
    <div id="ConsumerResults">
    </div>
</div>
<div id="reportsection">
    <div id="reportnav">
        @Html.Partial("~/Views/Shared/_TopBarReportPartial.cshtml")


        @using (Html.BeginForm("GetReport", "ReportExport", FormMethod.Post, new { id = "reportform" }))
        {
            @Html.AntiForgeryToken() 
            @Html.Hidden("ConsumerID", "")
            @Html.Hidden("EnquiryID", "")
            @Html.Hidden("EnquiryResultID", "")
            @Html.Hidden("Format", "")
            @Html.Hidden("ProductID", (string)ViewBag.ProductID)
        }
    </div>
    <div id="reportdetail"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/paging")
    @Scripts.Render("~/bundles/datepicker")

    <script type="text/javascript">
        $(function () {
            BonusXmlUrl = '';
            ReportUrl = '@Url.Action("HistoryModelSearch", "History")';
            InitializeHistoryReportSearch();
        });
    </script>
  
}