﻿@model XDS.ONLINE.MODELS.ListofTrainingDoc

@{
    ViewBag.Title = "Training Documents";
}

<div>


    @if (Model != null && Model.TrainingDocList.Count() > 0)
    {
        <ul class="list-group">
            @foreach (var item in Model.TrainingDocList)
            {
                <li class="list-group-item">
                    <h5>
                        @Html.DisplayFor(modelitem => item.TrainingDocName) - Uploaded on
                        <em><strong>@(XDS.ONLINE.MODELS.General.DisplayDate(@item.CreatedOnDate))</strong></em>
                        <em class="pull-right"><button class="btn btn-primary" onclick="DownloadTrainingDocument(@item.TrainingID)">View</button></em>
                    </h5>
                </li>
            }
        </ul>
    }
    else
    {
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        No Document Available
                    </td>
                </tr>
            </tbody>
        </table>
    }


</div>


<div id="reportsection">
    <div id="reportnav">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "reportform" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("TrainingID", "")
            
            @Html.Hidden("ConsumerID", "")
            @Html.Hidden("EnquiryID", "")
            @Html.Hidden("EnquiryResultID", "")
            @Html.Hidden("Format", "")
            @Html.Hidden("ProductID", (string)ViewBag.ProductID)



            <div class="modal fade" id="gTrainingDocPopup" tabindex="-1" role="dialog" aria-labelledby="gTrainingDocPopupLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        @if (Model != null && Model.TrainingDocList.Count() > 0)
                        {
                            <div class="modal-header">

                                <h4 class="modal-title" id="gTrainingDocPopupLabel"> @Model.TrainingDocList[0].TrainingDocFileName</h4>

                            </div>

                            <div id="gTrainingDocPopupBody">

                            </div>
                            <div class="modal-footer">
                                <div class="row">

                                    <div class="col-md-12 right">
                                        <input type="button" id="TrainingDocclosebutton" class="btn btn-primary" value="Close" />
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                </div>
            </div>
        }
    </div>
    <div id="reportdetail"></div>
</div>

