﻿@model XDS.ONLINE.MODELS.ListofTrainingDoc
@{
    Layout = null;
}

    <div id="popupdialog">
        <div class="col-md-12">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "videocontentform" }))
            {
                
                @Html.Hidden("Videoabsolutepath", Model.TrainingDocList[0].VideofileLocation)
                <video id="video" playsinline controls width="640" height="480">
                    <source src="@Url.Content(Model.TrainingDocList[0].VideofileLocation)" />
                </video>
            }
            </div>

    </div>

