﻿@model XDS.ONLINE.MODELS.ListofPortfolios


    <style>
        .my-navigation a {
            width: 2rem !important;
            padding: 1rem !important;
        }

        .my-navigation:after {
            content: "";
            display: table;
            clear: both;
        }

        .my-navigation div {
            float: left;
        }

            .my-navigation div + div {
                margin-left: .5rem;
            }



        a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"] {
            margin-right: 0;
        }

        a[class*="simple-pagination-navigation-disabled"] {
            color: black;
            cursor: default;
        }
    </style>
    <div id="second-container">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Portfolios</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PortfolioList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PortfolioName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="my-navigation">
            <div class="simple-pagination-first" style="display: inline"></div>
            <div class="simple-pagination-previous" style="display: inline"></div>
            <div class="simple-pagination-page-numbers" style="display: inline"></div>
            <div class="simple-pagination-next" style="display: inline"></div>
            <div class="simple-pagination-last" style="display: inline"></div>
        </div>
    </div>


    @*<script type="text/javascript">
        $('#second-container').simplePagination({
            items_per_page: 10,
            number_of_visible_page_numbers: 10
        });
    </script>*@
