﻿@model XDS.ONLINE.MODELS.PromotionDealItem

<style>
    .my-navigation a {
        width: 2rem !important;
        padding: 1rem !important;
    }

    .my-navigation:after {
        content: "";
        display: table;
        clear: both;
    }

    .my-navigation div {
        float: left;
    }

        .my-navigation div + div {
            margin-left: .5rem;
        }



    a[class^="simple-pagination-navigation-"] + a[class^="simple-pagination-navigation-"] {
        margin-right: 0;
    }

    a[class*="simple-pagination-navigation-disabled"] {
        color: black;
        cursor: default;
    }
</style>

<div class="modal-body">

    @if (Model.PromotionDealID != null)
    {
        <div id="dealcontainer" class="col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th colspan="4">Details for @Model.DealSheetNo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tr>
                        <td><strong>Dealsheet No</strong></td>
                        <td>@Model.DealSheetNo</td>
                    </tr>
                    <tr>
                        <td><strong>Deal Description</strong></td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td><strong>Valid From</strong></td>
                        <td>@(XDS.ONLINE.MODELS.General.DisplayDate(Model.ValidFrom))</td>
                    </tr>
                    <tr>
                        <td><strong>Valid To</strong></td>
                        <td>@(XDS.ONLINE.MODELS.General.DisplayDate(Model.ValidTo))</td>
                    </tr>
                    <tr>
                        <td><strong>Image</strong></td>
                        <td>
                            <a href="#" class="thumbnail">
                                <img class="img-rounded" src="@Model.Image" alt="@Model.DealSheetNo">
                            </a>
                        @*<img src="@Model.Image" />*@
                        </td> 
                    </tr>
                    <tr>
                        <td><strong>Dealer ID</strong></td>
                        <td>@Model.DealerID</td>
                    </tr>
                </table>
            </div>

        if (Model != null && Model.PromotionDealPortfolios != null && Model.PromotionDealPortfolios.PortfolioList!=null &&   Model.PromotionDealPortfolios.PortfolioList.Count() > 0)
        {
            { Html.RenderPartial("_PortfolioPartial", Model.PromotionDealPortfolios); }
        }
        else
        {
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Portfolios</th>
                    </tr>
                </thead>
                <tbody> 
                        <tr>
                            <td>
                               No Portfolios for @Model.DealSheetNo
                            </td>
                        </tr> 
                </tbody>
            </table>
        }
    }
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-12 right">
            <button type="button" class="btn btn-primary" id="closeModal" data-dismiss="modal">Close</button>
        </div>
    </div>
</div> 