﻿@model XDS.ONLINE.MODELS.ListofPromotionDeals

@{
    ViewBag.Title = "Available Deals";
}

<div>
   

    @if (Model != null && Model.PromotionDealList.Count() > 0)
    {
        <ul class="list-group">
            @foreach (var item in Model.PromotionDealList)
            {
                <li class="list-group-item">
                    <h5>
                        @Html.DisplayFor(modelitem => item.Description)
                        <em class="pull-right"><button class="btn btn-primary" onclick="GetPromotionDeal(@item.PromotionDealID)">View Details</button></em>
                    </h5>
                </li>
            }
        </ul>
    }
    else
    {
        <table class="table table-striped"> 
            <tbody>
                <tr>
                    <td>
                        No Promotion Deal Available
                    </td>
                </tr>
            </tbody>
        </table>
    }


</div> 

<div id="reportsection">
    <div id="reportnav">
        @using (Html.BeginForm("GetPromotionDeal", "PromotionDeal", FormMethod.Post, new { id = "reportform" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("PromotionDealID", "") 
        } 
    </div> 
</div>