﻿@{
    ViewBag.Title = "Vodacom Online Vetting Portal";
}


<div class="row">
    @*<div class="col-md-12">
        <h2>Welcome to the XDS Portal</h2>
        <p>In South Africa today it is a necessity for every business to adopt and implement sound risk management solutions and practices to ensure their survival and enable growth and prosperity. As the first truly South African information bureau, XDS is dedicated to providing your company with a range of innovative credit and risk management solutions that add real value.</p>
        <p>Our data and information solutions are locally developed to cater for all aspects of your organisation's customer life cycle, including application processing, fraud identification, customer account management and monitoring, as well as customer debt tracing and recovery.</p>
        <p>The XDS Portal offers a central platform where all our products and solutions are at your fingertips.</p>
    </div>*@
</div>

 

  