﻿@model XDS.ONLINE.MODELS.EmailReportViewModel
@{
    Layout = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "EmailReportForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ProductID", Model.ProductID)
    @Html.Hidden("EnquiryID", Model.EnquiryID)
    @Html.Hidden("EnquiryResultID", Model.EnquiryResultID)
    <div class="form-horizontal">
        <h4>Email XDS Report</h4>
        <div class="alert alert-info" role="alert">This form allows you to send the generated XDS Enquiry report to one or more recipients. Please seperate e-mail addresses by a semi-colomn (;). </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FromName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="control-label">@Model.FromName</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplyToEmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplyToEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReplyToEmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToEmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ToEmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.EmailBody, new { @class = "form-control", @rows = 5 } )
                @Html.ValidationMessageFor(model => model.EmailBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Send" class="btn btn-primary" onclick="emailReportSubmit()"/>
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            </div>
        </div>
        <div id="EmailReportResult" class="alert alert-success" role="alert">Ready to send email</div>
    </div>
}

<div>
</div>
