﻿@model XDS.ONLINE.MODELS.CustomVetting

<div class="panel panel-primary">
    <div class="panel-heading">Result Summary</div>
    <div class="panel-body">

        @if (Model.CustomVettingResult.Count() > 0)
        {
            @Html.Hidden("EnquiryID", @Model.CustomVettingResult[0].EnquiryID)

            <div class="row">
                <div class="col-md-3">Reference No.:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].ReferenceNo</strong></div>
                <div class="col-md-3">Application Date</div>
                <div class="col-md-3"><strong>@(XDS.ONLINE.MODELS.General.DisplayDateWithTime(@Model.CustomVettingResult[0].CreatedOnDate))</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3">ID No:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].IDNo</strong></div>
                <div class="col-md-3">Date of Birth:</div>
                <div class="col-md-3"><strong>@(XDS.ONLINE.MODELS.General.DisplayDate(@Model.CustomVettingResult[0].BirthDate))</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3">Surname:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].Surname</strong></div>
                <div class="col-md-3">First Name:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].FirstName</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3">Cellular/Mobile No:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].CellularNo</strong></div>
                <div class="col-md-3">Alternate Contact No:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].AlternateContactNo</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3">Email Address:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].EmailAddress</strong></div>
                <div class="col-md-3">Captured By:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].CapturedBy</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3">Application Status:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].ApplicationStatus</strong></div>
                <div class="col-md-3">Portfolio:</div>
                <div class="col-md-3 portfoliolink"><strong>@Model.CustomVettingResult[0].Portfolio</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3">Dealer ID:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].DealerID</strong></div>
                <div class="col-md-3">Promo Code:</div>
                <div class="col-md-3"><strong>@Model.CustomVettingResult[0].PromoCode</strong></div>
            </div>
        }
    </div>
</div> 

<div id="portfoliosection">
    <div id="reportnav">
        @using (Html.BeginForm("PromotionDealMatch", "PromotionDeal", FormMethod.Post, new { id = "portfolioform" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Portfolio", "")
        }
    </div>
</div>

<script>
    $(function () {
        $(".portfoliolink").each(function () {
            $(this).click(function () {

                var portfolio = $(this).text(); 
                GetPromotionDealByPortfolio(portfolio);

                return false;
            });
        });
    });
</script>