﻿@model XDS.ONLINE.MODELS.CustomVettingMatchViewModel

@{
    ViewBag.Title = "Vetting Application";
}

<div id="reportsection" style="display:none;">
    <div id="reportnav">
        @Html.Partial("~/Views/Shared/_TopBarReportPartial.cshtml")


        @using (Html.BeginForm("GetReport", "ReportExport", FormMethod.Post, new { id = "reportform" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("ConsumerID", "")
            @Html.Hidden("EnquiryResultID", "")
            @Html.Hidden("Format", "")
            @Html.Hidden("ProductID", (string)ViewBag.ProductID)
        }
    </div>
    <div id="reportdetail"></div>
</div>

<div id="searchsection">
    <div id="searchinput">

        @using (Html.BeginForm("CustomVettingMatch", "CustomVetting", FormMethod.Post, new { id = "searchform" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true) 
            @Html.Hidden("ProductID", (string)ViewBag.ProductID)
            @Html.HiddenFor(model => model.Latitude, new { id = "Latitude" })
            @Html.HiddenFor(model => model.Longitude, new { id = "Longitude" })
            @Html.HiddenFor(model => model.City, new { id = "City" })


            <fieldset>
                <legend>Customer Information</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DealerValue, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.DealerValue, new SelectList(Model.DealerList, "DealerID", "DealerName"), string.Empty, new { @class = "form-control",id= "ddvettingDealer" })
                        @Html.ValidationMessageFor(model => model.DealerValue)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PromotionValue, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.PromotionValue, new SelectList(Model.PromotionDealList, "PromotionDealID", "Description"), string.Empty, new { @class = "form-control", id = "ddvettingPromotion" })
                        @Html.ValidationMessageFor(model => model.PromotionValue)
                        
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PromoCodeValue, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.PromoCodeValue, new SelectList(Model.PromoCodeList, "Description", "Description"), string.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PromoCodeValue)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IdNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.IdNumber, new { @class = "form-control", placeholder = "Enter ID Number", maxlength = 13 })
                        @Html.ValidationMessageFor(model => model.IdNumber)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Surname, new { @class = "form-control", placeholder = "Enter Surname" })
                        @Html.ValidationMessageFor(model => model.Surname)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Enter Firstname" })
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class='input-group date'>
                            @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control", placeholder = "yyyy/mm/dd", id = "DateOfBirth" })
                            @Html.ValidationMessageFor(model => model.DateOfBirth)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Income, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Income, new { @class = "form-control", placeholder = "Enter Income", maxlength = 10 })
                        @Html.ValidationMessageFor(model => model.Income)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNo, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.MobileNo, new { @class = "form-control", placeholder = "Enter Your Mobile Number", maxlength = 10 })
                        @Html.ValidationMessageFor(model => model.MobileNo)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AlternateMobileNo, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.AlternateMobileNo, new { @class = "form-control", placeholder = "Enter Your Alternate Contact Number", maxlength = 10 })
                        @Html.ValidationMessageFor(model => model.AlternateMobileNo)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter Your Email Address" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Consent, new { @class = "control-label" })
                        @Html.CheckBoxFor(model => model.Consent, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Consent)
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" id="searchbutton" class="btn btn-primary" onclick="CustomVettingMatch(); return false;" value="Submit" />
                    <input type="button" id="clearbutton" class="btn btn-primary" onclick="CustomVettingClear(); return false;" value="Clear" />
                </div>
            </fieldset>
        }

    </div>
    <div id="ConsumerResults">
    </div>
</div>
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")

    <script type="text/javascript">
        $(function () {
            $("#ddvettingDealer").chosen();
            $("#ddvettingPromotion").chosen();
            
          
            BonusXmlUrl = '';
            ReportUrl = '@Url.Action("CustomVettingReport", "CustomVetting")';

            //$('#Consent').change(function () {
            //    if ($(this).is(":checked"))
            //        $('#searchbutton').removeAttr('disabled');
            //    else
            //        $("#searchbutton").attr("disabled", true);
            //});

            InitializeCustomVettingReport();
        });

        // extend jquery range validator to work for required checkboxes
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator();
            }
        }


        if(Modernizr.geolocation){
            navigator.geolocation.getCurrentPosition(success, error);
        }
        else if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success1, error1);
        }
        else {
            alert("location sedrvices are not supported on your device ");
            $('#Latitude').val('0');
            $('#Longitude').val('0');

        }


        function success(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            var city = position.coords.locality;
            var myLatlng = new google.maps.LatLng(lat, long);
            var myOptions = {
                center: myLatlng,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            $('#Latitude').val(lat);
            $('#Longitude').val(long);
            $('#City').val(city);


        }
        function error(error) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success1, error1);
            }
            else {
                if (error.code === 1) {
                    alert(error.message);
                }
                else if (error.code === 2) {
                    alert(error.message);
                }
                else if (error.code === 3) {
                    alert(error.message);
                }
                else {
                    alert(error.message);
                }

                $('#Latitude').val('0');
                $('#Longitude').val('0');
            }
        }

        function success1(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            var city = position.coords.locality;
            var myLatlng = new google.maps.LatLng(lat, long);
            var myOptions = {
                center: myLatlng,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            $('#Latitude').val(lat);
            $('#Longitude').val(long);
            $('#City').val(city);


        }
        function error1(error) {
            //if (geoPosition.init) {
            //    geoPosition.getCurrentPosition(success2, error2);
            //}
            //else {
            if (error.code === 1) {
                alert(error.message);
                }
            else if (error.code === 2) {
                    alert(error.message);
                }
            else if (error.code === 3) {
                alert(error.message);
                }
                else {
                alert(error.message);
                }

                $('#Latitude').val('0');
                $('#Longitude').val('0');
            //}
        }

        //function success2(position) {
        //    var lat = position.coords.latitude;
        //    var long = position.coords.longitude;
        //    var city = position.coords.locality;
        //    var myLatlng = new google.maps.LatLng(lat, long);
        //    var myOptions = {
        //        center: myLatlng,
        //        zoom: 12,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP
        //    };

        //    $('#Latitude').val(lat);
        //    $('#Longitude').val(long);
        //    $('#City').val(city);


        //}
        //function error2(error) {
        //    if (error === 1) {
        //        alert("unable to get location coordinates");
        //    }
        //    else if (error === 2) {
        //        alert("GeoPosition is unavailable");
        //    }
        //    else if (error === 3) {
        //        alert("Time Out...request taking too long.");
        //    }
        //    else {
        //        alert("Location services not active or allowed on your device");
        //    }

        //    $('#Latitude').val('0');
        //    $('#Longitude').val('0');
        //}
</script>
}