﻿@model XDS.ONLINE.WEB.Models.ErrorViewModel

@{
        //    Layout = null;
}
@*<div class="row">
    <div class="col-md-3">
        <button id="btnHideShowSideBar" class="btn btn-primary" value="Show Menu" onclick="ToggleMenu();" name="btnToggleTopBar">Menu</button>
    </div>
</div>*@
 

<div class="panel panel-primary">
    <div class="panel-heading">Result</div>
    <div class="panel-body">
        @Model.Message     
    </div>

</div> 