﻿@model XDS.ONLINE.WEB.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="col-md-12 ">
    <div class="form-group">
        <div class="col-md-12">
            <h3><label class="control-label controls">@ViewBag.Title.</label></h3>
            <p><h6> <label class="control-label controls"> A link to reset your password has been sent to cellphone number @Model.CellphoneNumber.</label></h6></p>
            <p><h6><label class="control-label controls">Please follow instructions in the sms sent to reset your password.</label></h6></p>
            <p><h6><label class="control-label controls">Please note that this link is valid only for 24 hours</label></h6></p>
        </div>
    </div>
</div>

