﻿@model XDS.ONLINE.WEB.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

@*<div id="searchsection">*@

<div class="container">

    <div id="inputdetail">

        <div id="forgotpasswordbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel">

                <div class="col-md-12 ">
                    <div class="form-group">
                        <div class="col-md-7">
                            <h4>
                                <label class="control-label controls">
                                    Click <a href="@Url.Action("Login","Account")"><i class="glyphicon"></i>here</a> to Login.
                                </label>
                            </h4>

                        </div>
                    </div>
                </div>

                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "searchform" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)



                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.CellphoneNumber)
                            </div>
                            @*<div class="col-md-10">*@
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.CellphoneNumber)
                            </div>

                            <div class="col-md-12">
                                @Html.ValidationMessageFor(m => m.CellphoneNumber)
                            </div>

                        </div>
                        @*</div>*@
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-4">
                                @Html.LabelFor(m => m.Username)
                            </div>
                            @*<div class="col-md-10">*@
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Username)
                            </div>

                            <div class="col-md-12">
                                @Html.ValidationMessageFor(m => m.Username)
                            </div>

                        </div>
                        @*</div>*@
                    </div>
                    @*<div class="form-group">*@<div class="col-md-12 controls text-right">
                        @*<div class="col-md-offset-2 col-md-10">*@
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input type="button" id="resetbutton" class="btn btn-primary" value="Request Reset Password" />
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                }

                @* </div>*@
            </div>

        </div>
    </div>
    <div id="Results">
    </div>
</div>

<div class="modal fade" id="gloading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    <img src="@Url.Content("~/images/ajax-loader.gif")" />
                    Loading...
                </h4>
            </div>
            <div class="modal-body">
                Please wait while we send you the Authorization PIN.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $(function () {
            showAjaxProcessing = true;
            SubmitForgotPassword();
        });

        function SubmitForgotPassword() {


            $('#inputdetail').show();
            $('#Results').hide();

            $('#resetbutton').on("click", function () {

                var form = $("#searchform");
                $.validator.unobtrusive.parse(form);
                form.validate();

                if (!form.valid()) { return false; }
                $.ajax({
                    type: "POST",
                    url: '../Account/ForgotPassword',
                    data: form.serialize(),
                    datatype: "html"
                })
                    .success(function (data) {
                        $('#Results').html(data);
                        $('#Results').show();
                        $('#inputdetail').hide();
                        // alert(data);
                        //$("#fgPasswordbody").html(data);
                        //$("#mForgotPassword").modal({
                        //    "show": true,
                        //    "backdrop": "static",
                        //    "keyboard": false
                        //});
                    })
                    .error(function () {
                        unexpectedError();
                        ShowSideBar();
                    });
            });
        }

        function SubmitresetPassword() {
            showAjaxProcessing = false;
            var form = $("#resetform");
            $.validator.unobtrusive.parse(form);
            form.validate();

            if (!form.valid()) { return false; }
            $.ajax({
                type: "POST",
                url: '../Account/ResetPassword',
                data: form.serialize(),
                datatype: "html"
            })
                .success(function (data) {

                    //if (data.valid) {
                    //    $('#Resultsreset').html(data);
                    //    $('#Resultsreset').show();
                    //    $('#input').hide();
                    //}
                    //else {
                        $('#Results').html(data);
                   // }
                    // alert(data);
                    //$("#fgPasswordbody").html(data);
                    //$("#mForgotPassword").modal({
                    //    "show": true,
                    //    "backdrop": "static",
                    //    "keyboard": false
                    //});
                })
                .error(function () {
                    $('#input').show();
                });

        }


        $(document).ajaxStart(function () {
            try {


                if (showAjaxProcessing) {
                    $("#gloading").modal({
                        "show": true,
                        "backdrop": "static",
                        "keyboard": false
                    });
                    //alert('Hello !!');
                }
                else {
                    $("#gloading").modal('hide');
                }
            }
            catch (ex) {
                alert(ex.message);
            }
        });

        $(document).ajaxStop(function () {
            $("#gloading").modal('hide');
        });

    </script>
}