﻿@model XDS.ONLINE.WEB.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="loginForm">

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()



        <div class="container">
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Log in</div>

                        <div style="float:right; font-size: 80%; position: relative; top:-10px" class="panel-title"></div>
                    </div>

                    <div style="padding-top:30px" class="panel-body">

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">

                        </div>
                        @Html.ValidationSummary(true)

                        @Html.ValidationMessageFor(m => m.UserName)
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter User name" })

                        </div>
                        @Html.ValidationMessageFor(m => m.Password)
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls text-right">
                                <input type="submit" id="btn-login" class="btn btn-primary" value="Log in" />
                            </div>
                        </div>
                        <div class="form-group row">

                            @*<div class="col-sm-12 controls text-left">
            <input type="url" href="#" onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" >Forgot your password?</input>
        </div>*@
                            <div class="col-sm-12 controls text-left">
                                <a href="@Url.Action("ForgotPassword","Account")"><i class="glyphicon"></i> Forgot Your Password</a>
                            </div>
                        </div>


                        @*                              <form id="loginform" class="form-horizontal" role="form"></form>     *@



                    </div>
                </div>
            </div>
        </div>

        @*<div class="modal fade" id="mTerms" tabindex="-1"  role="dialog" aria-labelledby="mTermsLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="mTermsLabel">XDS Portal Terms and Conditions of Use</h4>
                            </div>
                            <div class="modal-body" style="height:600px; overflow-y:auto;">

                                <p class="MsoNormal" style="MARGIN: 0cm 0cm 10pt; LINE-HEIGHT: normal; TEXT-ALIGN: center; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto" align="center"><strong><span style="FONT-SIZE: 12pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">STANDARD TERMS AND CONDITIONS OF USE</span></strong><span style="FONT-SIZE: 9pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: normal; tab-stops: 42.55pt 3.0cm 127.6pt 6.0cm 212.65pt"><strong><span style="FONT-SIZE: 7pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 9pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">INTRODUCTION</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">The
             User has elected to use XDS products or services as made available on
            this site, having been authorised to use the selected product or
            service. Such authorisation having been granted in terms of the Client
            Agreement agreed to between XDS and the Client, The Client has
            authorised the user to make use of XDS Products and Services.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ"> </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">By
             accessing and using the products and services offered by XDS you agree
            to be bound by the terms and conditions of this site and that of the
            Client Agreement as referred to above</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: normal; tab-stops: 42.55pt 3.0cm 127.6pt 6.0cm 212.65pt"><strong><span style="FONT-SIZE: 7pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 9pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">1. DEFINITIONS</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">In
             this Agreement, the following expressions shall bear the meanings
            assigned to them below and cognate expressions bear corresponding
            meanings:</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.1 ”</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Agreement</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” means this agreement being the XDS Standard Terms and Conditions of Use </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.2 “</span><strong style="mso-bidi-font-weight: normal"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Client</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” refers to the entity on whose behalf the user access XDS products and services</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.3”</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Confidential Information</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">”
             means all confidential information of XDS irrespective of the media in
            which it is contained and including but not limited to the Intellectual
            Property, print-outs, manuals, tables of statistics, software,
            applications, source codes, computer discs, magnetic tapes, samples and
            any data collected and stored in XDS's data bases from time to time;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.4 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Consent</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">”
             means any freely-given, specific and informed expression of will
            whereby consumer(s) agree to the processing of personal information
            relating to them;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.5 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Consumer Credit Information</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” shall bear the meaning set out in Section 70 (1) of the Act;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.6 ”</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Intellectual Property</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">”
             means all intellectual property of whatever nature owned and/or
            controlled by either Party, including without limiting the generality of
             the aforegoing, that Parties right, title and interest in and to all
            trade marks, technology, software, applications, web pages (including
            the “look and feel” thereof), standards, trade secrets, logos, systems,
            methods (including all delivery mechanisms and scoring processes),
            procedures, processes, the design, layout, “look and feel” and “get up”
            of the Reports, trade names, domain names, styles, insignias,
            compilations, designs, patents, and copyright whether registered or not;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.7 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Parties</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” shall mean XDS, the Client and the User;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.8 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Prescribed Information</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” shall bear the meaning set out in Regulation 18 (6);</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.9 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Prescribed Purpose</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” shall bear the meaning set out in Regulation 18 (4) [read in conjunction with Regulation 18 (5) </span><em><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">;</span></em><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.10 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Regulations</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">”
             shall mean the National Credit Regulations, published in Government
            Gazette No. 8477, and Notice 28864; and such further Regulations that
            may be issued from time to time</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.11 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Reports</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">”
             means any data or information or response provided to the Client which
            is generated pursuant to the use by the Client of the Services set out
            in Annexure B hereto, as amended from time to time;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.12 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">the Act</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” means the National Credit Act, 34 of 2005; as amended from time to time</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">1.13 “</span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">the User</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">” means the person who is accessing XDS products and services</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 14.4pt 0pt 0cm; LINE-HEIGHT: normal; tab-stops: 80.0pt 152.0pt 188.0pt 224.0pt 260.0pt 296.0pt 332.0pt 368.0pt; mso-pagination: none"><span style="FONT-SIZE: 7pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-ZA" lang="EN-GB"> </span><span style="FONT-SIZE: 9pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 14.4pt 0pt 0cm; LINE-HEIGHT: 150%"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">2. CONSUMER CREDIT INFORMATION</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">Consumer
             Credit Information is regarded as confidential information and XDS only
             reports such information for prescribed purposes. The User is obligated
             to respect the confidentiality of the Consumer Credit Information
            received through the use of XDS service or Products</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 14.4pt 0pt 0cm; LINE-HEIGHT: 150%"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 14.4pt 0pt 0cm; LINE-HEIGHT: 150%"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">3. ACKNOWLEDGEMENTS BY THE USER</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">The User acknowledges and agrees, that: </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">3.1
             The User  will at all times comply with the requirements of the Act and
             any other applicable legislation (to the extent that it is relevant to
            the User) for the request, receipt, compilation and reporting of
            information, requested and received from XDS.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">3.2
             The User  shall for the duration of this Agreement comply with all
            applicable legislation and regulations in as far as it relates to the
            request and usage of the Services.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">3.3
             Where XDS is required by any law, to investigate a matter, The User
             will cooperate with such an investigation so far as it is related to
            the Client.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">3.4
             XDS reserves the right to take whatever reasonable action it may deem
            necessary at any time to preserve the security and reliable operation of
             its network infrastructure and the Client undertakes that it will not
            do or permit anything to be done which will compromise XDS’s security. </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">3.5 The User specifically acknowledges having received authorisation by the Client to access XDS products and services.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; tab-stops: 21.3pt"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">3.6.
             The User has a legitimate and lawful, as contemplated in the Act,
            purpose for processing the  consumer credit information from XDS; and</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">3.7
             All necessary consents, where required, from its clients/customers, to
            process their consumer credit information with XDS, have been obtained</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">4. ACKNOWLEDGEMENTS BY XDS</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">4.1
             XDS acknowledges and agrees, that it will at all times comply with the
            requirements of the Act and any other applicable legislation (to the
            extent that it is relevant to XDS) for the maintenance, processing and
            reporting of information</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">4.2
             XDS shall ensure that the Services provided in terms of this Agreement
            are in compliance with the Service Levels as agreed between XDS and the
            Client</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ"> </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">5. INTELLECTUAL PROPERTY RIGHTS AND CONFIDENTIALITY</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">The Parties agree and acknowledge that:</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">All
             right, title and interest in and to their respective Intellectual
            Property vests with either party hereto. Nothing in this Agreement
            transfers ownership in any of the Intellectual Property to the other
            party hereto.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ"> </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">6. WARRANTIES </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">Save
             as specifically set out herein, XDS makes no representations and gives
            no  warranties and/or guarantees of whatever nature, whether express,
            implied in law, or residual, in respect of this Agreement, the Services
            and/or the accuracy or correctness of the Reports, as the case may be,
            or any part thereof.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"><br></span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA">7. RIGHT TO AUDIT</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">XDS
             reserves the right to audit the Client on whose behalf the User is
            accessing XDS Products and Services to ensure compliance with Agreement 
             </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; tab-stops: -72.0pt -36.0pt 0cm 36.0pt 72.0pt; mso-hyphenate: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; LETTER-SPACING: -0.05pt; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ"> </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">8. LIMITATION OF LIABILITY</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.1
             XDS shall not be liable for any actual or contingent loss, liability,
            expense, costs (including legal costs on the scale as between attorney
            and own client and any additional legal costs), or damage of whatsoever
            nature (whether direct, indirect, consequential or otherwise) suffered
            by the Client. </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt 35.45pt; TEXT-INDENT: -35.45pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.1.1         the breach by the User  of any of its obligations as set out in the Agreement;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt 36pt; TEXT-INDENT: -36pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.1.2
                     any mistake, error or omission in the Information, including
            mistakes, errors and omissions originating from Information submitted to
             XDS </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt 36pt; TEXT-INDENT: -36pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.1.3        
             any delay or failure in delivering or in any manner communicating or
            making available the information to the User , where such failure is not
             reasonably foreseeable by XDS.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; tab-stops: 35.45pt; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.1.4         an event of force majeure as contemplated in 15 and/or</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.1.5         the downtime of any telecommunications line and/or infrastructure and/or facilities.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.2 The User  shall be solely liable for any claims of whatever nature arising as a result of:</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt 36pt; TEXT-INDENT: -36pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.2.1        
             all actions taken or decisions made in reliance on any information
            and/or the information contained in any Reports (for the purpose of this
             clause 9 collectively referred to as the “Information”);</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt 36pt; TEXT-INDENT: -36pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.2.2
                     the use of the Information (by the User ) for a purpose other
            than a Prescribed Purpose or a purpose contemplated in the Act;</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt 36pt; TEXT-INDENT: -36pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">8.2.3         the User breaching a duty of confidentiality to its customer and/or consumer, as the case may be.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">9. INDEMNITY</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">Without
             prejudice to any of the rights of either party at law or in terms of
            this Agreement, the User  agrees to indemnify XDS against all actual or
            contingent losses, liabilities, damages, costs (including legal costs on
             the scale as between attorney and own client and any additional legal
            costs) and expenses of any nature whatsoever which each may suffer or
            incur as a result of or in connection with the gross negligent acts or
            omissions of XDS in carrying out their respective obligations under this
             Agreement; or any other relevant statutory provision applicable. </span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">10. APPLICABLE LAW</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">This Agreement shall be interpreted and governed in all respects by the laws of the Republic of South Africa.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">11. JURISDICTION</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 14.4pt 0pt 0cm; LINE-HEIGHT: normal; tab-stops: 80.0pt 152.0pt 188.0pt 224.0pt 260.0pt 296.0pt 332.0pt 368.0pt"><span style="FONT-SIZE: 7pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-ZA" lang="EN-GB">Parties
             hereby consent and submit to the non-exclusive jurisdiction of the High
             Court of the Republic of South Africa for the purpose of all or any
            legal proceedings arising from or concerning this Agreement.</span><span style="FONT-SIZE: 9pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">12. Collection of User Data</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 14.4pt 0pt 0cm; LINE-HEIGHT: normal; tab-stops: 80.0pt 152.0pt 188.0pt 224.0pt 260.0pt 296.0pt 332.0pt 368.0pt"><span style="FONT-SIZE: 7pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-GB; mso-fareast-language: EN-ZA" lang="EN-GB">The  Users login credentials and search criteria are collected and recorded by XDS for Audit and Billing purposes</span><span style="FONT-SIZE: 9pt; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong style="mso-bidi-font-weight: normal"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ"> </span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong style="mso-bidi-font-weight: normal"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">13. ABOUT XDS</span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">Xpert Decision Systems (Pty) Ltd, “</span><strong style="mso-bidi-font-weight: normal"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">XDS</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">”, is a registered company incorporated in accordance with the laws of the Republic of South Africa, (Registration Number </span><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">2002/022938//07</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">),
             operating as Credit Bureau registered with the NCR, having registration
             number NCRCB05. XDS holds membership with the Credit Bureau Association
             and the Credit Providers Association.</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ"> </span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong style="mso-bidi-font-weight: normal"><span style="text-decoration: underline;"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Contact Information</span></span></strong><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong style="mso-bidi-font-weight: normal"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Physical Address</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ"> : <span style="mso-bidi-font-weight: bold">3<sup>rd</sup> Floor, West Wing, Oakhurst Building, 11-13 St Andrews Street, Parktown, Johannesburg, South Africa </span></span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong style="mso-bidi-font-weight: normal"><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Postal Address</span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA" lang="EN-NZ">: PO Box 30987, Braamfontein, 2017</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Telephone: </span></strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-weight: bold" lang="EN-NZ">+27116459100</span><span style="FONT-SIZE: 12pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Times New Roman','serif'; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: EN-ZA"></span></p>
            <p class="MsoNormal" style="MARGIN: 0cm 0cm 0pt; LINE-HEIGHT: 150%; mso-layout-grid-align: none"><strong><span style="FONT-SIZE: 7pt; LINE-HEIGHT: 150%; FONT-FAMILY: 'Arial','sans-serif'; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: EN-NZ; mso-fareast-language: EN-ZA; mso-bidi-font-size: 11.0pt" lang="EN-NZ">Fax: +27114846588 </span></strong></p>


                            </div>


                            </div>
                        </div>
                    </div>*@

    }
</section>

<div class="modal fade" id="mForgotPassword" tabindex="-1" role="dialog" aria-labelledby="myFPLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="myFPLabel">Forgotten Password</h4>
            </div>
            <div class="modal-body" style="overflow-x:auto; overflow-y:auto;" id="fgPasswordbody">
                @*@{Html.RenderPartial("ForgotPassword");}*@
            </div>
            @*<div class="modal-footer" @*style="margin-top:78%">
                    <div class="row">
                        <div class="col-md-12 right">
                            <input type="button" class="btn btn-primary" onclick="ProcessForgotPassword()" value="Reset Password" />
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        $(function () {
            $("#UserName").focus();
        });

        function ProcessForgotPassword() {

            var form = $("#loginForm");

            //$.validator.unobtrusive.parse(form);
            //form.validate();

            //if (!form.valid()) { return false; }

            $.ajax({
                type: "get",
                url: '../Account/ForgotPassword',
                data: form.serialize(),
                datatype: "html"
            })
                .success(function (data) {
                    //$("#fgPasswordbody").html(data);
                    //$("#mForgotPassword").modal({
                    //    "show": true,
                    //    "backdrop": "static",
                    //    "keyboard": false
                    //});
                })
                .error(function () {
                    unexpectedError();
                    ShowSideBar();
                });
        }

    </script>

}
