﻿@model XDS.ONLINE.WEB.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@*<h2>@ViewBag.Title.</h2>*@



<div class="container">
    <div id="forgotpasswordbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-sm-2">
        <div class="panel">
            @*<div class="col-md-12 ">
        <div class="form-group">
            <div class="col-md-12">*@
            @if (Model.status == "2")
            {
                @Html.ValidationSummary(true)
                <div id="input">
                    <div>
                        <p><h6> <label class="control-label controls"> Please input the OTP received on your mobile for changing the password.</label></h6></p>
                    </div>

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "resetform" }))
                    {
                        @Html.AntiForgeryToken()

                        <h3>Reset your password.</h3>

                        <hr />

                        //  @Html.HiddenFor(model => model.ResetPIN)
                        <fieldset>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.LabelFor(m => m.ResetCellNumber)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.ResetCellNumber, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.LabelFor(m => m.ResetUsername)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.ResetUsername, new { @class = "form-control", @readonly = "readonly" })
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.LabelFor(m => m.Password)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(m => m.Password)
                                    </div>

                                    <div class="col-md-12">
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.PasswordFor(m => m.ConfirmPassword)
                                    </div>

                                    <div class="col-md-12">
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        @Html.LabelFor(m => m.ResetPIN)
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(m => m.ResetPIN, new { required = "required", maxlength = 6, minlength = 6, @data_val = "true", @data_val_required = "One time pin is required", type = "number" })
                                    </div>

                                    <div class="col-md-12">
                                        @Html.ValidationMessageFor(m => m.ResetPIN)
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-4">
                                <input type="button" id="Processresetbutton" class="btn btn-primary" value="Reset my password" onclick="SubmitresetPassword()" />
                            </div>
                        </div>
                    }
                </div>
                <div id="Resultsreset">
                </div>
            }
            else if (Model.status == "3" || Model.status == "1")
            {
                <div class="col-md-12 ">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h3><label class="control-label controls">Reset password confirmation.</label></h3>
                            <p><h6> <label class="control-label controls"> Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</label></h6></p>


                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script type="text/javascript">
    $(function () {
        SubmitresetPassword();
    });

  

    </script>*@
}
