﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="col-md-12 ">
    <div class="form-group">
        <div class="col-md-12">
            <h3><label class="control-label controls">@ViewBag.Title.</label></h3>
            <p><h6> <label class="control-label controls"> The link you are trying to access has expired.</label></h6></p>
        </div>
    </div>
</div>
