﻿@model XDS.ONLINE.WEB.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container">
    <div id="forgotpasswordbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-sm-2">
        <div class="panel">
            <h3><label class="control-label controls">@ViewBag.Title.</label></h3>
            @if (Model.status == "2" || Model.status == "3")
            {
                <p><h6> <label class="control-label controls"> Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</label></h6></p>
            }
            else if (Model.status == "1")
            {
                <p><h6> <label class="control-label controls"> The link you are trying to access has expired.</label></h6></p>
            }

        </div>
    </div>
</div>
