﻿@model dynamic

<div class="panel-body">

    @*<div class="row div-header small">
        <div class="col-md-1">Case No.</div>
        <div class="col-md-1">Case Filing Date</div>
        <div class="col-md-1">Judgement Type</div>
        <div class="col-md-1">Amount</div>
        <div class="col-md-2">Plaintiff</div>
        <div class="col-md-2">Court</div>
        <div class="col-md-2">Attorney</div>
        <div class="col-md-1">Phone No.</div>
        <div class="col-md-1">Date Confirmed</div>
    </div>
    <div class="row small">
        <div class="col-md-1">@Model.CaseNumber</div>
        <div class="col-md-1">@Model.CaseFilingDate.ToShortDateString()</div>
        <div class="col-md-1">@Model.CaseType</div>
        <div class="col-md-1">R&nbsp;@Model.DisputeAmt</div>
        <div class="col-md-2">@Model.PlaintiffName</div>
        <div class="col-md-2">@Model.CourtName</div>
        <div class="col-md-2">@Model.AttorneyName</div>
        <div class="col-md-1">@Model.TelephoneNo</div>
        <div class="col-md-1">@Model.Comments</div>
    </div>*@

    <table style="width: 100%; padding: 12px">
        @*<tr>
            <th>Case No.</th>
            <th>Case Filing Date</th>
            <th>Judgement Type</th>
            <th>Amount</th>
            <th>Plaintiff</th>
            <th>Court</th>
            <th>Attorney</th>
            <th>Phone No.</th>
            <th>Comment</th>
        </tr>*@
        @*<tr style="font-weight: bold; border-bottom: 1px solid black; font-size: 11px; border-spacing: 6px; padding: 10px">*@

        <tr class="div-header">
            <th style="width: 13%; text-align:left;">Case No.</th>
            <th style="width: 10%" text-align:left;>Issued Date</th>
            <th style="width: 10%" text-align:left;>Date Loaded</th>
            <th style="width: 13%" text-align:left;>Judgement Type</th>
            <th style="width: 8%" text-align:left;>Amount</th>
            <th style="width: 18%" text-align:left;>Plaintiff</th>
            <th style="width: 10%" text-align:left;>Court</th>
            <th style="width: 15%" text-align:left;>Attorney</th>
            <th style="width: 10%" text-align:left;>Phone No.</th>
            <th style="width: 10%" text-align:left;>Comment</th>
        </tr>

        @foreach (var item in Model) 
        {

            var CaseFilingDate = item.CaseFilingDate.ToString();
            DateTime dtCaseFilingDate = DateTime.Parse(CaseFilingDate);

            var LastUpdatedDate = item.CaseFilingDate.ToString();
            DateTime dtLastUpdatedDate = DateTime.Parse(LastUpdatedDate);
            
            @*<tr style="height: 20px; vertical-align: middle; font-size: 11px; padding: 5px; border-spacing: 3px;">*@
            <tr>
                <td>@item.CaseNumber</td>
                @*<td style="font-weight: bold">@item.CaseFilingDate.ToShortDateString()</td>*@
                <td>@dtCaseFilingDate.ToString("dd/MM/yyyy")</td>
                <td>@dtLastUpdatedDate.ToString("dd/MM/yyyy")</td>
                <td>@item.CaseType</td>
                <td>R @(XDS.ONLINE.MODELS.General.FormatNumbers(item.DisputeAmt.ToString()))</td>
                <td>@item.PlaintiffName</td>
                <td>@item.CourtName</td>
                <td>@item.AttorneyName</td>
                <td>@item.TelephoneNo</td>
                <td>@item.Comments</td>
            </tr>
        }
    </table>
</div>
