﻿@model XDS.ONLINE.MODELS.ConsumerSubscriberInputDetails 

<div class="panel panel-primary">
    <div class="panel-heading">Enquiry Input Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">Enquiry Date:</div>
            <div class="col-md-3"><strong>@(XDS.ONLINE.MODELS.General.DisplayDateWithTime(Model.EnquiryDate.ToString()))</strong></div>
            <div class="col-md-3">Enquiry Type:</div>
            <div class="col-md-3"><strong>@Model.EnquiryType</strong></div>
        </div>
        <div class="row">
            <div class="col-md-3">Subscriber Name:</div>
            <div class="col-md-3"><strong>@Model.SubscriberName</strong></div>
            <div class="col-md-3">Subscriber User Name:</div>
            <div class="col-md-3"><strong>@Model.SubscriberUserName</strong></div>
        </div>
        <div class="row">
            <div class="col-md-3">Enquiry Input:</div>
            <div class="col-md-3"><strong>@Model.EnquiryInput</strong></div>
            
            @if (!string.IsNullOrEmpty(Model.EnquiryReason))
            {
                <div class="col-md-3">Enquiry Reason:</div>  
                <div class="col-md-3"><strong>@Model.EnquiryReason</strong></div>
            }
        </div>
    </div>
</div>