﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
        <div class="col-md-9 text-right">
            <button id="btnExportPDF" class="btn btn-primary" onclick="exportReport('PDF');"><i class="glyphicon glyphicon-paperclip"></i> PDF</button>
            <button id="btnExportIMAGE" class="btn btn-primary" onclick="exportReport('IMAGE');"><i class="glyphicon glyphicon-picture"></i> IMAGE</button>
            <button id="btnExportHTML" class="btn btn-primary" onclick="exportReport('HTML');"><i class="glyphicon glyphicon-file"></i> HTML</button> 
        </div>
</body>
</html>
