﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>XDS - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk" type="text/javascript"></script>
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/chosen.css" )
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="">
        <div class="navbar-header">
            <button type="button" id="toggle-btn" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Content("~/")">
                <img src="@Url.Content("~/images/vodacomlogo.png")" class="logo" border="0" />
            </a>

        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right" style="font-size: 12px;">


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="glyphicon glyphicon-user"></i>@{if (Session["DisplayName"] != null)
                        { @Session["DisplayName"].ToString()} }
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="@Url.Action("UserProfile", "UserProfile")"><i class="glyphicon glyphicon-user"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ChangePassword", "ChangePassword")"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("LogOff", "Account")"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-info-sign"></i> @ViewContext.Controller.GetType().Assembly.GetName().Version</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <li>
                <a href="@Url.Action("LogOff", "Account")"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        @if (Session["Survey"] == "1")
        {
        }
        else
        {

            <div id="sidebar-main" class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">

                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("HistoryMatch", "History")"><i class="glyphicon glyphicon-search"></i> History</a>
                        </li>
                        <li>
                            <a href="@Url.Action("CustomVettingMatch", "CustomVetting")"><i class="glyphicon glyphicon-th"></i> New Application</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BulletinMatch", "Bulletin")"><i class="glyphicon glyphicon-download-alt"></i> Bulletins</a>
                        </li>
                        <li>
                            <a href="@Url.Action("VideoTrainingMatch", "VideoTraining")"><i class="glyphicon glyphicon-facetime-video"></i> Video Training</a>
                        </li>
                        <li>
                            <a href="@Url.Action("PromotionDealMatch", "PromotionDeal")"><i class="glyphicon glyphicon-screenshot"></i> Available Deals</a>
                        </li>
                    </ul>

                </div>
                <!-- /.sidebar-collapse -->
            </div>
        }
        <!-- /.navbar-static-side -->

    </nav>
    <div id="SubscriberDetails" class="subscriberDIV"></div>


    <div id="page-wrapper" style="">
        @RenderSection("featured", required: false)
        <div class="row">
            <h3>@ViewBag.Title</h3>
            @RenderBody()
        </div>
    </div>

    <div class="modal fade" id="gloading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        <img src="@Url.Content("~/images/ajax-loader.gif")" />
                        Loading...
                    </h4>
                </div>
                <div class="modal-body">
                    Your request is busy processing.
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="gBonusSegments" tabindex="-1" role="dialog" aria-labelledby="gBonusSegmentsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gBonusSegmentsLabel">XDS Trace Plus</h4>
                </div>
                <div class="modal-body" id="gBonusSegmentsBody"></div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-8 error">
                            All selected modules will be charged at an additional cost
                        </div>
                        <div class="col-md-4 right">
                            <button type="button" class="btn btn-primary" onclick="fetchReportBonus();">Submit</button>
                            <button type="button" class="btn btn-primary" onclick="HideBonusSegmentsAndFetchReport();">Skip</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="gEmailReport" tabindex="-1" role="dialog" aria-labelledby="gEmailReportLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg small">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gEmailReportLabel">XDS Report Request</h4>
                </div>
                <div class="modal-body" id="gEmailReportBody"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="gBusinessSegments" tabindex="-1" role="dialog" aria-labelledby="gBusinessSegmentsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gBusinessSegmentsLabel">XDS Business Enquiry</h4>
                </div>
                <div class="modal-body" id="gBusinessSegmentsBody"></div>
                <div class="modal-footer">
                    <div class="row">
                        @*<div class="col-md-8 error">
                                All selected modules will be charged at an additional cost
                            </div>*@
                        <div class="col-md-4 right">
                            <button type="button" class="btn btn-primary" onclick="fetchBusinessReportBonus();">Submit</button>
                            @*<button type="button" class="btn btn-primary" onclick="HideBusinessBonusSegmentsAndFetchReport(false);">Cancel</button>*@
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="gAuthenticationSegments" tabindex="-1" role="dialog" aria-labelledby="gBusinessSegmentsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gAuthenticationSegmentsLabel">XDS Authentication Enquiry</h4>
                </div>

                <div id="gAuthenticationSegmentsBody"></div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myLinksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLinksModalLabel">XDS Linkage Enquiry</h4>
                </div>

                <div id="modalLinkDataSubmitBody">

                    @*<div class="modal-body">

                              <div class="row">

                                   <div class="col-md-12">

                                          <table class="table table-striped">

                                              <tr>
                                                  <td>
                                                      <input type="radio" id="rb1" name="idlinkgroup" value="/TraceEnquiry/ConsumerMatchLink" />
                                                  </td>
                                                  <td>
                                                      <label>Consumer Trace</label>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      <input type="radio" id="rb2" name="idlinkgroup" value="/Verification/IDVerificationMatchLink" />
                                                  </td>
                                                  <td>
                                                      <label>Identity Verification Trace</label>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      <input type="radio" id="rb3" name="idlinkgroup" value="/CommercialEnquiry/PrincipalEnquiryMatchLink" />
                                                  </td>
                                                  <td>
                                                      <label>Principal Enquiry</label>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      <input type="radio" id="rb4" name="idlinkgroup" value="/PublicInfoEnquiry/PublicDomainEnquiryMatchLink" />
                                                  </td>
                                                  <td>
                                                      <label>Full Public Domain Enquiry</label>
                                                  </td>
                                              </tr>

                                          </table>

                                      </div>

                              </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="btnSendChoice" onclick="LoadChoicesID();">Send</button>
                        </div>*@

                </div>

                <form id="linkform" action="/TraceEnquiry/ConsumerMatchLink" method="POST">
                    <input type="hidden" name="jsonData" id="jsonData" />
                    <input type="hidden" name="selectedVal" id="selectedVal" />
                </form>

            </div>
        </div>
    </div>

    <div class="modal fade" id="gPromotionDeal" tabindex="-1" role="dialog" aria-labelledby="gPromotionDealLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="gPromotionDealTitleLabel">Promotion Deal</h4>
                </div>

                <div id="gPromotionDealBody"></div> 
            </div>
        </div>
    </div>
     
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/applicationjs")
    @RenderSection("scripts", required: false)
    <script language="javascript">
        //if (window.location.protocol == "http:") {
        //    var restOfUrl = window.location.href.substr(5);
        //    window.location = "https:" + restOfUrl;
        //}
        contextUrl = '@Url.Content("~")';
    </script>

</body>
</html>
