﻿@model XDS.ONLINE.MODELS.ListOfConsumers


<table class="table table-striped table-hover">
<thead>
    <tr>
        <th>Reference
        </th>
        <th>First Name
        </th>
        <th>Surname 
        </th>
        <th>ID Number
        </th>
        <th>Passport No
        </th>
        <th>Details Viewed
        </th>
        <th>View
        </th>
    </tr>
</thead>
    @foreach (var item in Model.ConsumerDetails)
    {
        <tr class="clickableRow" consumerid="@item.ConsumerID" enquiryid="@item.EnquiryID" enquiryresultid="@item.EnquiryResultID">
            <td>@Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>@Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.SurName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.IDno)
            </td>
            <td>@Html.DisplayFor(modelItem => item.PassportNo)
            </td>
            <td id="Viewed_@item.EnquiryResultID">No
            </td>
            <td><span class="glyphicon glyphicon-search"></span>
            </td>
        </tr>
    }

</table>
