﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>XDS - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
</head>
<body style="background-color: #f8f8f8;">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Content("~/")">
                <img src="@Url.Content("~/images/vodacomlogo.png")" class="logo" border="0" />
            </a>
        </div>
        <!-- /.navbar-header -->
     
    </nav>
    <div class="logincontrol">
        @RenderSection("featured", required: false)
        <div>
            @RenderBody()
        </div>
    </div>
    <div class="modal fade" id="gloading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        <img src="@Url.Content("~/images/ajax-loader.gif")" />
                        Loading...</h4>
                </div>
                <div class="modal-body">
                    Your request is busy processing.
                </div>
            </div>
        </div>
    </div>
    <div>
        <span class="ft_cpy"><b>@@ Copyright 2010 XDS (Pty) Ltd.<br />
            <br />
            <br />
        </b></span>&nbsp;
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        //if (window.location.protocol == "http:") {
        //    var restOfUrl = window.location.href.substr(5);
        //    window.location = "https:" + restOfUrl;
        //}
    
    </script>
</body>
</html>
