﻿<div class="row">
            <div  class="col-md-3">
                <button id="btnCloseReport" class="btn btn-primary" value="Back" onclick="closeReport();">Back</button>
                <button id="btnHideShowSideBar" class="btn btn-primary" value="Show Menu" onclick="ToggleMenu();" name="btnToggleTopBar">Show Menu</button>
            </div>
            @if (Session["Survey"] == "1")
        {
                <div class="col-md-11 text-right">
                <button id="btnSurveyContinue" class="btn btn-primary" onclick="location.href='@Url.Action("SurveyQuestion", "Survey" ,new {ProductID = Session["ProductID"],  ClientSessionID = Session["ClientSessionID"],  ProductReviewID = Session["ProductReviewID"],TemplateTypeCode  = "A"},null)'"><i class="glyphicon glyphicon-paperclip"></i> CONTINUE</button>
                </div>
        }
            else
            {
            @Html.Partial("~/Views/Shared/_ExportButtonsReportPartial.cshtml")
            }
        </div>