﻿@model XDS.ONLINE.MODELS.StandardLayoutModel

<div class="panel-body">
    @for (int i = 0; i < Model.FinalList.Count; i += 2)
    {                         
        <div class="row">
            <div class="col-md-3">@Model.FinalList.Keys[i]</div>
            <div class="col-md-3"><strong>@Model.FinalList.Values[i]</strong></div>
            @if (i + 1 <= Model.FinalList.Count - 1)
            {
                <div class="col-md-3">@Model.FinalList.Keys[i + 1]</div>
                <div class="col-md-3"><strong>@Model.FinalList.Values[i + 1]</strong></div>
            }
        </div>				          
      }
</div>

                 @*   <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">Enquiry Date:</div>
                            <div class="col-md-3"><strong>@Model.EnquiryDate</strong></div>
                            <div class="col-md-3">Enquiry Type:</div>
                            <div class="col-md-3"><strong>@Model.EnquiryType</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Subscriber Name:</div>
                            <div class="col-md-3"><strong>@Model.SubscriberName</strong></div>
                            <div class="col-md-3">Subscriber User Name:</div>
                            <div class="col-md-3"><strong>@Model.SubscriberUserName</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">Enquiry Input:</div>
                            <div class="col-md-3"><strong>@Model.EnquiryInput</strong></div>
                        </div>
                    </div>
                </div>*@