﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            @*<button id="btnCloseReport" class="btn btn-primary" value="Back" onclick="closeReport();">Back</button>
            <button id="btnHideShowSideBar" class="btn btn-primary" value="Show Menu" onclick="ToggleMenu();" name="btnToggleTopBar"> Show Menu</button>*@
        </div>
            @Html.Partial("~/Views/Shared/_ExportButtonsReportPartial.cshtml")

    </div>
</body>
</html>
